@font-face {
    font-family: "Bold";
    src: url(../assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
  }
  
  @font-face {
    font-family: "font";
    src: url(../assets/font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "font";
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }


  #nav{
    width: 100%;
    min-height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
  }


  .nav-logo{
    width: 7vw;
    height: 7vw;
  }

  .nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  
  .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
  }
  .nav-items a{
    font-family: "Bold";
    text-decoration: none;
    color: #000;
    letter-spacing: 1.5px;
    font-size: 1.3vw;
  }

  .nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  
  }
  .nav-icons a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #000;
  }

  .banner{
    width: 100%;
    height: 84vh;
    display: flex;
  }

  .bg{
    width: 50%;
    height: 84vh;
    background-image:url(../assets/images/bg1.jpg);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-info{
    width: 50%;
    height: 84vh;
    background-color: #EBEDEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 1vw;
  }
  .bg-info h1{
    font-family: 'font';
    text-transform: capitalize;
    font-size: 6vw;
    line-height: 1;
  }
  .bg-info p{
    font-family: 'font';
    font-size: 2vw;
    margin-top: 1.5vw;
    font-weight: 600;
  }

  .shop-btn{
   text-transform: uppercase;
   font-weight: 900;
    font-size: 1.1vw;
    padding: .8vw 2vw;
    margin-top: 1.5vw;
    background-color: #2A7D2E; 
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .shop-btn:hover{
    background-color: #000; 
    border: none;
    color: #fff;
  }